
.container{
    text-align: center;background-color: aqua;
    text-align: center;
    background-color: #00ffbf42;
    max-width: inherit;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 6%;
    border: 1px solid blanchedalmond;
    border-radius: 20px;
}
.table{
    display: flex;
    justify-content:center ;

}
button{
    
        width: 40px;
        margin-bottom: 7px;
        padding: 6px;
    }
#input{
    margin-bottom: 10px;
}
button:hover{
    background-color: aqua;
    color: white;
}
#equals{
    background-color: yellow;
}